<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="cn.ieclipse.pde.explorer.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="cn.ieclipse.pde.explorer.command.explorer"
               icon="icons/fldr_obj.gif"
               label="%command.label"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="cn.ieclipse.pde.explorer.definition.explorer.all">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:#AbstractTextEditorContext?after=additions">
         <command
               commandId="cn.ieclipse.pde.explorer.command.explorer.editor"
               icon="icons/fldr_editor.png"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="cn.ieclipse.pde.explorer.definition.explorer.editor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            id="cn.ieclipse.pde.explorer.command.explorer"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            id="cn.ieclipse.pde.explorer.command.explorer.editor"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.ieclipse.pde.explorer.handlers.OpenExplorerHandler"
            commandId="cn.ieclipse.pde.explorer.command.explorer">
      </handler>
      <handler
            class="cn.ieclipse.pde.explorer.handlers.OpenExplorerHandler2"
            commandId="cn.ieclipse.pde.explorer.command.explorer.editor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.ieclipse.pde.explorer.command.explorer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+`">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="cn.ieclipse.pde.explorer.preferences.ExplorerPreferencePage"
            id="cn.ieclipse.pde.explorer.preferences.ExplorerPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cn.ieclipse.pde.explorer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="cn.ieclipse.pde.explorer.definition.explorer">
         <or>
            <adapt
                  type="org.eclipse.core.resources.IResource">
            </adapt>
            <adapt
                  type="cn.ieclipse.pde.explorer.IExplorable">
            </adapt>
            <with
                  variable="activeMenuSelection">
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </with>
         </or>
      </definition>
      <definition
            id="cn.ieclipse.pde.explorer.definition.explorer.editor">
         <with
               variable="activeEditorInput">
            <adapt
                  type="org.eclipse.core.resources.IResource">
            </adapt>
         </with>
      </definition>
      <definition
            id="cn.ieclipse.pde.explorer.definition.explorer.all">
         <not>
            <with
                  variable="activeMenuSelection">
               <adapt
                     type="org.eclipse.jface.text.ITextSelection">
               </adapt>
            </with>
         </not>
      </definition>
   </extension>

</plugin>
