<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="cn.ieclipse.pde.explorer.command.explorer"
               icon="icons/fldr_obj.gif"
               label="%command.label"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <adapt
                           type="cn.ieclipse.pde.explorer.IExplorable">
                        <test
                              property="cn.ieclipse.pde.explorer.test1">
                        </test>
                        <test
                              property="cn.ieclipse.pde.explorer.test1">
                        </test>
                     </adapt>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            id="cn.ieclipse.pde.explorer.command.explorer"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.ieclipse.pde.explorer.handlers.OpenExplorerHandler"
            commandId="cn.ieclipse.pde.explorer.command.explorer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.ieclipse.pde.explorer.command.explorer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+`">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="cn.ieclipse.pde.explorer.preferences.ExplorerPreferencePage"
            id="cn.ieclipse.pde.explorer.preferences.ExplorerPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cn.ieclipse.pde.explorer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
